/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  *:not(dialog) {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

body{
    background-image: linear-gradient(to left bottom, #9c6bd1, #8663c6, #6f5cbb, #5854af, #404ca3, #3159ad, #1f66b5, #0072bc, #0095d5, #00b8e5, #00daee, #5ffbf1);
    min-height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 20vw auto 20vw;

    align-items: center;
    justify-content: space-around;
}

  
h1{
    text-align: center;
    font-size: 3rem;
    margin: 3rem 0;
    font-family: "Frijole", system-ui;
}

p, button, dialog{
    font-family: "Anta", sans-serif;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    margin: 1px;
    font-size: 70px;
    font-family: "Anta", sans-serif;
    background-color: rgb(15, 12, 52);
    border-radius: 10px;
}

.cell:not(.cell-o):not(.cell-x):hover {
    background-color: rgb(58, 55, 98);
    cursor: pointer; 
}


.cell-x{
    text-shadow: 0px 0px 20px rgba(187,35,168,1);
    color: #ba83ca;
}
.cell-o{
    text-shadow: 0px 0px 20px rgb(35, 108, 187);
    color: #69bff8;
}

.player{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    border: solid 1px black;
    align-items: center;
    margin: 0.5rem;

}

.player-two-card, .player-one-card{
    background-color:rgb(34, 25, 10);
    min-width: 150px;
    color: bisque;
}

.players-card{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

#board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 30vw;
    aspect-ratio: 1/1;
    justify-self: center;
    margin-bottom: 3rem;
}

.info{
    text-align: center;
}

.cta{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

.player-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player > p:first-child {
    font-weight: bold;
    background-color: bisque;
    color: black;
    align-self: stretch;
    text-align: center;
}

.player-points{
    display: flex;
    gap: 5px;
    margin-bottom: 1rem;
}


/* --- MOBILE FRIENDLY (Écrans de moins de 400px) --- */
@media (max-width: 400px) {
    #board {
        grid-template-columns: repeat(3, 25vw);
        grid-template-rows: repeat(3, 25vw);
        width: auto;
    }

    .cell {
        /* Police plus petite pour mobile */
        font-size: 12vw;
    }

    .container{
        display: flex;
        flex-direction: column;

    }

}

.name {
    font-size: 2rem;
}

.mark{
    margin: 1px;
    font-size: 50px;
    font-family: "Anta", sans-serif;
    border-radius: 10px;
}

.mark-x{
    text-shadow: 0px 0px 20px rgba(187,35,168,1);
    color: #ba83ca;
}
.mark-o{
    text-shadow: 0px 0px 20px rgb(35, 108, 187);
    color: #69bff8;
}

#dialog{
    text-align: center;
    background-color: rgb(11, 41, 53);
    color: white;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
}

form > div {
    display: contents;
}

.cta-dialog{
    margin: 1rem 0 0 0;
}
#validate-name {
    justify-self: center;
    width: 3rem;
}
#close-dialog {
    width: 3rem;
    justify-self: center;
}

h2{
    margin-bottom: 1rem;
}

.cta{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.info{
    font-size: 2rem;
}

.cta > button{
    font-size: 2rem;
}

button{
    background-color: #ba83ca;
}

button:hover{
    color: bisque;
    background-color: rgb(40, 43, 107);
}



.winning-cell {
    text-shadow: 1px 1px 0px rgb(35, 108, 187);
    animation: win 0.5s ease forwards;
}

@keyframes win {
    from {
        background-color: rgb(15, 12, 52);
    }
    to {
        background-color: rgb(127, 224, 127);
    }
}

.draw-cell{
    animation: draw 0.5s ease forwards;
    text-shadow: 1px 1px 0px rgb(35, 108, 187);
}

@keyframes draw {
    from {
        background-color: rgb(15, 12, 52);
    }
    to {
        background-color: rgb(255, 216, 158);
    }
}